# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [13]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [17]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    if pct_missing == 1:
        print('{} - {}%'.format(col, round(pct_missing*100)))
print('Baltimore\n')
    
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    if pct_missing == 1:
        print('{} - {}%'.format(col, round(pct_missing*100)))
print('Boston\n')
    
for col in newyork.columns:
    pct_missing = np.mean(newyork[col].isnull())
    if pct_missing == 1:
        print('{} - {}%'.format(col, round(pct_missing*100)))
print('New York\n')

for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    if pct_missing == 1:
        print('{} - {}%'.format(col, round(pct_missing*100)))
print('Philadelphia\n')

Type - 100%
Grade - 100%
Origin District - 100%
Environment - 100%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Trans Mode - 100%
Baltimore

Type - 100%
Grade - 100%
Environment - 100%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Trans Mode - 100%
Boston

Type - 100%
Grade - 100%
Environment - 100%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Trans Mode - 100%
New York

Type - 100%
Grade - 100%
Origin District - 100%
Color - 100%
Environment - 100%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Trans Mode - 100%
Philadelphia

In [18]:
baltimore = baltimore.drop(['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop',
                           'Trans Mode'],axis=1)
boston = boston.drop(['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop',
                           'Trans Mode'],axis=1)
newyork = newyork.drop(['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop',
                           'Trans Mode'],axis=1)
philadelphia = philadelphia.drop(['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop',
                           'Trans Mode'],axis=1)

In [20]:
print(baltimore.columns)
print(boston.columns)
print(newyork.columns)
print(philadelphia.columns)

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Sub Variety',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Origin District', 'Item Size', 'Color', 'Unit of Sale',
       'Repack'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Sub Variety',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Origin District', 'Item Size', 'Color', 'Unit of Sale',
       'Repack'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Sub Variety',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Origin District', 'Item Size', 'Color', 'Unit of Sale',
       'Repack'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Sub Variety',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Origin District', 'Item Size', 'Color', 'Unit of Sale',
       'Repack'],
      dtype='object')

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [25]:
# Combine the four dataframes into one!
northeast = baltimore.append([boston,newyork,philadelphia], ignore_index=True)
print(northeast.head())
print(northeast.tail())
print(northeast.shape)

  Commodity Name  City Name       Package      Variety Sub Variety  \
0       PUMPKINS  BALTIMORE  24 inch bins          NaN         NaN
1       PUMPKINS  BALTIMORE  24 inch bins          NaN         NaN
2       PUMPKINS  BALTIMORE  24 inch bins  HOWDEN TYPE         NaN
3       PUMPKINS  BALTIMORE  24 inch bins  HOWDEN TYPE         NaN
4       PUMPKINS  BALTIMORE  24 inch bins  HOWDEN TYPE         NaN

         Date  Low Price  High Price  Mostly Low  Mostly High    Origin  \
0  04/29/2017        270       280.0         270        280.0       NaN
1  05/06/2017        270       280.0         270        280.0       NaN
2  09/24/2016        160       160.0         160        160.0  DELAWARE
3  09/24/2016        160       160.0         160        160.0  VIRGINIA
4  11/05/2016         90       100.0          90        100.0  MARYLAND

  Origin District Item Size Color Unit of Sale Repack
0             NaN       lge   NaN          NaN      E
1             NaN       lge   NaN          NaN      E
2             NaN       med   NaN          NaN      N
3             NaN       med   NaN          NaN      N
4             NaN       lge   NaN          NaN      N
    Commodity Name     City Name             Package    Variety Sub Variety  \
669       PUMPKINS  PHILADELPHIA  1/2 bushel cartons  MINIATURE   FLAT TYPE
670       PUMPKINS  PHILADELPHIA  1/2 bushel cartons  MINIATURE   FLAT TYPE
671       PUMPKINS  PHILADELPHIA  1/2 bushel cartons  MINIATURE   FLAT TYPE
672       PUMPKINS  PHILADELPHIA  1/2 bushel cartons  MINIATURE   FLAT TYPE
673       PUMPKINS  PHILADELPHIA  1/2 bushel cartons  MINIATURE   FLAT TYPE

           Date  Low Price  High Price  Mostly Low  Mostly High    Origin  \
669  11/05/2016         16        18.0          16         18.0      OHIO
670  08/26/2017         18        20.0          18         20.0  MICHIGAN
671  09/16/2017         16        16.0          16         16.0      OHIO
672  09/23/2017         15        16.0          15         16.0      OHIO
673  09/30/2017         15        18.0          15         18.0      OHIO

    Origin District Item Size Color Unit of Sale Repack
669             NaN       NaN   NaN   SHELLACKED      N
670             NaN       NaN   NaN   SHELLACKED      N
671             NaN       NaN   NaN   SHELLACKED      N
672             NaN       NaN   NaN   SHELLACKED      N
673             NaN       NaN   NaN   SHELLACKED      N
(674, 16)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [32]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
cols = ['Low Price','High Price']
mean_prices = northeast.groupby('Unit of Sale')[cols].mean()
mean_prices

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [48]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast['Count'] = 1
# northeast.head()
# avg_pumpkins = northeast.groupby('Variety').agg('mean')
# avg_pumpkins

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack,Count
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E,1
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E,1
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N,1
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N,1
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N,1

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!